## <font color=green> Agregação de dados e operações em grupos

- O pandas oferece uma interface flexível groupby, que permite manipular e resumir conjuntos de dados de forma flexível

In [1]:
import pandas as pd
import numpy as np

### Funcionamento de GroupBy

- Vamos começar carregando o dataset

In [2]:
order_leads = pd.read_csv("datasets/order_leads.csv")
sales_team = pd.read_csv("datasets/sales_team.csv")

In [3]:
df = pd.merge(order_leads,sales_team, on=['Company Id', 'Company Name'])
df = df.rename(columns={'Order Value':'Val', 'Converted': 'Sale'})
df.head()

,Order Id,Company Id,Company Name,Date,Val,Sale,Sales Rep,Sales Rep Id
0,HZSXLI1IS9RGABZW,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-10-13,6952,0,William Taylor,ZTZA0ZLYZR85PTUJ
1,582WPS3OW8T6YT0R,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-09-02,7930,0,William Taylor,ZTZA0ZLYZR85PTUJ
2,KRF65MQZBOYG4Y9T,D0AUXPP07H6AVSGD,Melancholy Social-Role,2016-12-21,5538,1,William Taylor,ZTZA0ZLYZR85PTUJ
3,N3EDZ5V1WGSWW828,D0AUXPP07H6AVSGD,Melancholy Social-Role,2018-06-03,1113,0,William Taylor,ZTZA0ZLYZR85PTUJ
4,QXBC8COXEXGFSPLP,D0AUXPP07H6AVSGD,Melancholy Social-Role,2014-07-26,4596,0,William Taylor,ZTZA0ZLYZR85PTUJ

- Podemos agrupar series

In [4]:
grouped = df.groupby('Sales Rep')
type(grouped)

pandas.core.groupby.generic.DataFrameGroupBy

- Chamando a função groups, o objeto retorna uma lista de índices para cada grupo

In [5]:
grouped.groups

{'Aaron Hendrickson': [25612, 25613, 25614, 25615, 25616, 25617, 25618, 25619, 25620, 25621, 25622, 25623, 25624, 25625, 25626, 25627, 25628, 25629, 25630, 25631, 25632, 25633, 25634, 25635, 25636, 25637, 25638, 25639, 25640, 25641, 25642, 25643, 25644, 25645, 25646, 25647, 25648, 25649, 25650, 25651, 25652, 25653, 25654, 25655, 25656, 25657, 25658, 25659, 25660, 25661, 25662, 25663, 25664, 25665, 25666, 25667, 25668, 25669, 25670, 25671, 25672, 25673, 25674, 25675, 25676, 25677, 25678, 25679, 25680, 25681, 25682, 25683, 25684, 25685, 25686, 25687, 25688, 25689, 25690, 25691, 25692, 25693, 25694, 25695, 25696, 25697, 25698, 25699, 25700, 25701, 25702, 25703, 25704, 25705, 25706, 25707, 25708, 25709, 25710, 25711, ...], 'Adam Sawyer': [67140, 67141, 67142, 67143, 67144, 67145, 67146, 67147, 67148, 67149, 67150, 67151, 67152, 67153, 67154, 67155, 67156, 67157, 67158, 67159, 67160, 67161, 67162, 67163, 67164, 67165, 67166, 67167, 67168, 67169, 67170, 67171, 67172, 67173, 67174, 67175, 67176, 67177, 67178, 67179, 67180, 67181, 67182, 67183, 67184, 67185, 67186, 67187, 67188, 67189, 67190, 67191, 67192, 67193, 67194, 67195, 67196, 67197, 67198, 67199, 67200, 67201, 67202, 67203, 67204, 67205, 67206, 67207, 67208, 67209, 67210, 67211, 67212, 67213, 67214, 67215, 67216, 67217, 67218, 67219, 67220, 67221, 67222, 67223, 67224, 67225, 67226, 67227, 67228, 67229, 67230, 67231, 67232, 67233, 67234, 67235, 67236, 67237, 67238, 67239, ...], 'Adele Kimmel': [90915, 90916, 90917, 90918, 90919, 90920, 90921, 90922, 90923, 90924, 90925, 90926, 90927, 90928, 90929, 90930, 90931, 90932, 90933, 90934, 90935, 90936, 90937, 90938, 90939, 90940, 90941, 90942, 90943, 90944, 90945, 90946, 90947, 90948, 90949, 90950, 90951, 90952, 90953, 90954, 90955, 90956, 90957, 90958, 90959, 90960, 90961, 90962, 90963, 90964, 90965, 90966, 90967, 90968, 90969, 90970, 90971, 90972, 90973, 90974, 90975, 90976, 90977, 90978, 90979, 90980, 90981, 90982, 90983, 90984, 90985, 90986, 90987, 90988, 90989, 90990, 90991, 90992, 90993, 90994, 90995, 90996, 90997, 90998, 90999, 91000, 91001, 91002, 91003, 91004, 91005, 91006, 91007, 91008, 91009, 91010, 91011, 91012, 91013, 91014, ...], 'Adrian Daugherty': [31483, 31484, 31485, 31486, 31487, 31488, 31489, 31490, 31491, 31492, 31493, 31494, 31495, 31496, 31497, 31498, 31499, 31500, 31501, 31502, 31503, 31504, 31505, 31506, 31507, 31508, 31509, 31510, 31511, 31512, 31513, 31514, 31515, 31516, 31517, 31518, 31519, 31520, 31521, 31522, 31523, 31524, 31525, 31526, 31527, 31528, 31529, 31530, 31531, 31532, 31533, 31534, 31535, 31536, 31537, 31538, 31539, 31540, 31541, 31542, 31543, 31544, 31545, 31546, 31547, 31548, 31549, 31550, 31551, 31552, 31553, 31554, 31555, 31556, 31557, 31558, 31559, 31560, 31561, 31562, 31563, 31564, 31565, 31566, 31567, 31568, 31569, 31570, 31571, 31572, 31573, 31574, 31575, 31576, 31577, 31578, 31579, 31580, 31581, 31582, ...], 'Adrianna Shelton': [3368, 3369, 3370, 3371, 3372, 3373, 3374, 3375, 3376, 3377, 3378, 3379, 3380, 3381, 3382, 3383, 3384, 3385, 3386, 3387, 3388, 3389, 3390, 3391, 3392, 3393, 3394, 3395, 3396, 3397, 3398, 3399, 3400, 3401, 3402, 3403, 3404], 'Ahmad Derck': [44306, 44307, 44308, 44309, 44310, 44311, 44312, 44313, 44314, 44315, 44316, 44317, 44318, 44319, 44320, 44321, 44322, 44323, 44324, 44325, 44326, 44327, 44328, 44329, 44330, 44331, 44332, 44333, 44334, 44335, 44336, 44337, 44338, 44339, 44340, 44341, 44342, 44343, 44344, 44345, 44346, 44347, 44348, 44349, 44350, 44351, 44352, 44353, 44354, 44355, 44356, 44357, 44358, 44359, 44360, 44361, 44362, 44363, 44364, 44365, 44366, 44367, 44368, 44369, 44370, 44371, 44372, 44373, 44374, 44375, 44376, 44377, 44378, 44379, 44380, 44381, 44382, 44383, 44384, 44385, 44386, 44387, 44388, 44389, 44390, 44391, 44392, 44393, 44394, 44395, 44396, 44397, 44398, 44399, 44400, 44401, 44402, 44403, 44404, 44405, ...], 'Albert Pellowski': [26755, 26756, 26757, 26758, 26759, 26760, 26761, 26762, 26763, 26764, 26765, 26766, 26767, 26768, 26769, 26770, 26771, 26772, 26773, 26774, 26775, 26776, 26777, 26778, 26779, 26780, 26781, 26782, 26783, 26784, 26785, 26786, 26787, 26788, 26789, 26790, 26791, 26792, 26793, 26794, 26795, 26796, 26797, 26798, 26799, 26800, 26801, 26802, 26803, 26804, 26805, 26806, 26807, 26808, 26809, 26810, 26811, 26812, 26813, 26814], 'Alease Puckett': [91425, 91426, 91427, 91428, 91429, 91430, 91431, 91432, 91433, 91434, 91435, 91436, 91437, 91438, 91439, 91440, 91441, 91442, 91443, 91444, 91445, 91446, 91447, 91448, 91449, 91450, 91451, 91452, 91453, 91454, 91455, 91456, 91457, 91458, 91459, 91460, 91461, 91462, 91463, 91464, 91465, 91466, 91467, 91468, 91469, 91470, 91471, 91472, 91473, 91474, 91475, 91476, 91477, 91478, 91479, 91480, 91481, 91482, 91483, 91484, 91485, 91486, 91487, 91488, 91489, 91490, 91491, 91492, 91493, 91494, 91495, 91496, 91497, 91498, 91499, 91500, 91501, 91502, 91503, 91504, 91505, 91506, 91507, 91508, 91509, 91510, 91511, 91512, 91513, 91514, 91515, 91516, 91517, 91518, 91519, 91520, 91521, 91522, 91523, 91524, ...], 'Alejandro Ford': [43508, 43509, 43510, 43511, 43512, 43513, 43514, 43515, 43516, 43517, 43518, 43519, 43520, 43521, 43522, 43523, 43524, 43525, 43526, 43527, 43528, 43529, 43530, 43531, 43532, 43533, 43534, 43535, 43536, 43537, 43538, 43539, 43540, 43541, 43542, 43543, 43544, 43545, 43546, 43547, 43548, 43549, 43550, 43551, 43552, 43553, 43554, 43555, 43556, 43557, 43558, 43559, 43560, 43561, 43562, 43563, 43564], 'Alfredo Weise': [54004, 54005, 54006, 54007, 54008, 54009, 54010, 54011, 54012, 54013, 54014, 54015, 54016, 54017, 54018, 54019, 54020], 'Alison Mitchell': [81217, 81218, 81219, 81220, 81221, 81222, 81223, 81224, 81225, 81226, 81227, 81228, 81229, 81230, 81231, 81232, 81233, 81234, 81235, 81236, 81237, 81238], 'Allen Olding': [51024, 51025, 51026, 51027, 51028, 51029, 51030, 51031, 51032, 51033, 51034, 51035, 51036, 51037, 51038, 51039, 51040, 51041, 51042, 51043, 51044, 51045, 51046, 51047, 51048, 51049, 51050, 51051, 51052, 51053, 51054, 51055, 51056, 51057, 51058, 51059, 51060, 51061, 51062, 51063, 51064, 51065, 51066, 51067, 51068, 51069, 51070, 51071, 51072, 51073, 51074, 51075, 51076, 51077, 51078, 51079, 51080, 51081, 51082, 51083, 51084, 51085, 51086, 51087, 51088, 51089, 51090, 51091, 51092, 51093, 51094, 51095, 51096, 51097, 51098, 51099, 51100, 51101, 51102, 51103, 51104, 51105, 51106, 51107, 51108, 51109, 51110, 51111, 51112, 51113, 51114, 51115, 51116, 51117, 51118, 51119, 51120, 51121, 51122, 51123, ...], 'Allison Malinski': [38283, 38284, 38285, 38286, 38287, 38288, 38289, 38290, 38291, 38292, 38293, 38294, 38295, 38296, 38297, 38298, 38299, 38300, 38301, 38302, 38303, 38304, 38305, 38306, 38307, 38308, 38309, 38310, 38311, 38312, 38313, 38314, 38315, 38316, 38317, 38318, 38319, 38320, 38321, 38322, 38323, 38324, 38325, 38326, 38327, 38328, 38329, 38330, 38331, 38332, 38333, 38334, 38335, 38336, 38337, 38338, 38339, 38340, 38341, 38342, 38343, 38344, 38345, 38346, 38347, 38348, 38349, 38350, 38351, 38352, 38353, 38354, 38355, 38356, 38357, 38358, 38359, 38360, 38361, 38362, 38363, 38364, 38365, 38366, 38367, 38368, 38369, 38370, 38371, 38372, 38373, 38374, 38375, 38376, 38377, 38378, 38379, 38380, 38381, 38382, ...], 'Alonzo Cavanaugh': [60846, 60847, 60848, 60849, 60850, 60851, 60852, 60853, 60854, 60855, 60856, 60857, 60858, 60859, 60860, 60861, 60862, 60863, 60864, 60865, 60866, 60867, 60868, 60869, 60870, 60871, 60872, 60873, 60874, 60875, 60876, 60877, 60878, 60879, 60880, 60881, 60882, 60883, 60884, 60885, 60886, 60887, 60888, 60889, 60890, 60891, 60892, 60893, 60894, 60895], 'Alvin Greene': [37043, 37044, 37045, 37046, 37047, 37048, 37049, 37050, 37051, 37052, 37053, 37054, 37055, 37056, 37057, 37058, 37059, 37060, 37061, 37062, 37063, 37064, 37065, 37066, 37067, 37068, 37069, 37070, 37071, 37072, 37073, 37074, 37075, 37076, 37077, 37078, 37079, 37080, 37081, 37082, 37083, 37084, 37085, 37086, 37087, 37088, 37089, 37090, 37091, 37092, 37093, 37094, 37095, 37096, 37097, 37098, 37099, 37100, 37101, 37102, 37103, 37104, 37105, 37106, 37107, 37108, 37109, 37110, 37111, 37112, 37113, 37114, 37115, 37116, 37117, 37118, 37119, 37120, 37121, 37122, 37123, 37124, 37125, 37126, 37127, 37128, 37129, 37130], 'Alvin Jenson': [477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, ...], 'Alyssa Mckinney': [92364, 92365, 92366, 92367, 92368, 92369, 92370, 92371, 92372, 92373, 92374, 92375, 92376, 92377, 92378, 92379, 92380, 92381, 92382, 92383, 92384, 92385, 92386, 92387, 92388, 92389, 92390, 92391, 92392, 92393, 92394, 92395, 92396, 92397, 92398, 92399, 92400, 92401, 92402, 92403, 92404, 92405, 92406, 92407, 92408, 92409, 92410, 92411, 92412, 92413, 92414, 92415, 92416, 92417, 92418, 92419, 92420, 92421, 92422, 92423, 92424, 92425, 92426, 92427, 92428, 92429, 92430, 92431, 92432, 92433, 92434, 92435, 92436, 92437, 92438, 92439, 92440, 92441, 92442, 92443, 92444, 92445, 92446, 92447, 92448, 92449, 92450, 92451, 92452, 92453, 92454, 92455, 92456, 92457, 92458, 92459, 92460, 92461, 92462, 92463, ...], 'Amanda Borkholder': [52332, 52333, 52334, 52335, 52336, 52337, 52338, 52339, 52340, 52341, 52342, 52343, 52344, 52345, 52346, 52347, 52348, 52349, 52350, 52351, 52352, 52353, 52354, 52355, 52356, 52357, 52358, 52359, 52360, 52361, 52362, 52363, 52364, 52365, 52366, 52367, 52368, 52369, 52370, 52371, 52372, 52373, 52374, 52375, 52376, 52377, 52378, 52379, 52380, 52381, 52382, 52383, 52384, 52385, 52386, 52387, 52388, 52389, 52390, 52391, 52392, 52393, 52394, 52395, 52396, 52397, 52398, 52399, 52400, 52401, 52402, 52403, 52404, 52405, 52406, 52407, 52408, 52409, 52410, 52411, 52412, 52413, 52414, 52415, 52416, 52417, 52418, 52419, 52420, 52421, 52422, 52423, 52424, 52425, 52426, 52427, 52428, 52429, 52430, 52431, ...], 'Amy Jernigan': [39838, 39839, 39840, 39841, 39842, 39843, 39844, 39845, 39846, 39847, 39848, 39849, 39850, 39851, 39852, 39853, 39854, 39855, 39856, 39857, 39858, 39859, 39860, 39861, 39862, 39863, 39864, 39865, 39866, 39867, 39868, 39869, 39870, 39871, 39872, 39873, 39874, 39875, 39876, 39877, 39878, 39879, 39880, 39881, 39882, 39883, 39884, 39885, 39886, 39887, 39888, 39889, 39890, 39891, 39892, 39893, 39894, 39895, 39896, 39897, 39898, 39899, 39900, 39901, 39902, 39903, 39904, 39905, 39906, 39907, 39908, 39909, 39910, 39911, 39912, 39913, 39914, 39915, 39916, 39917, 39918, 39919, 39920, 39921, 39922, 39923, 39924, 39925, 39926, 39927, 39928, 39929, 39930], 'Andrea Kanish': [32996, 32997, 32998, 32999, 33000, 33001, 33002, 33003, 33004, 33005, 33006, 33007, 33008, 33009, 33010, 33011, 33012, 33013, 33014, 33015, 33016, 33017, 33018, 33019, 33020, 33021, 33022, 33023, 33024, 33025, 33026, 33027, 33028, 33029, 33030, 33031, 33032, 33033, 33034, 33035, 33036, 33037, 33038, 33039, 33040, 33041, 33042, 33043, 33044, 33045, 33046, 33047, 33048, 33049, 33050, 33051, 33052, 33053, 33054, 33055, 33056, 33057, 33058, 33059, 33060, 33061, 33062, 33063, 33064, 33065, 33066, 33067, 33068, 33069, 33070, 33071, 33072, 33073, 33074, 33075, 33076, 33077, 33078, 33079, 33080, 33081, 33082, 33083, 33084, 33085, 33086, 33087, 33088, 33089, 33090, 33091, 33092, 33093, 33094, 33095, ...], 'Angel Guidry': [56561, 56562, 56563, 56564, 56565, 56566, 56567, 56568, 56569, 56570, 56571, 56572, 56573, 56574, 56575, 56576, 56577, 56578, 56579, 56580, 56581, 56582, 56583, 56584, 56585, 56586, 56587, 56588, 56589, 56590, 56591, 56592, 56593, 56594, 56595, 56596, 56597, 56598, 56599, 56600, 56601, 56602, 56603, 56604, 56605, 56606, 56607, 56608, 56609, 56610, 56611, 56612, 56613, 56614, 56615, 56616, 56617, 56618, 56619, 56620, 56621, 56622, 56623, 56624, 56625, 56626, 56627, 56628, 56629, 56630, 56631, 56632, 56633, 56634, 56635, 56636, 56637, 56638, 56639, 56640, 56641, 56642, 56643, 56644, 56645, 56646, 56647, 56648, 56649, 56650, 56651, 56652, 56653, 56654, 56655, 56656, 56657, 56658, 56659, 56660, ...], 'Angela Long': [67464, 67465, 67466, 67467, 67468, 67469, 67470, 67471, 67472, 67473, 67474, 67475, 67476, 67477, 67478, 67479, 67480, 67481, 67482, 67483, 67484, 67485, 67486, 67487, 67488, 67489, 67490, 67491, 67492, 67493, 67494, 67495, 67496, 67497, 67498, 67499, 67500, 67501, 67502, 67503, 67504, 67505, 67506, 67507, 67508, 67509, 67510, 67511, 67512, 67513, 67514, 67515, 67516, 67517, 67518, 67519, 67520, 67521, 67522, 67523, 67524, 67525, 67526, 67527, 67528, 67529, 67530, 67531, 67532, 67533, 67534, 67535, 67536, 67537, 67538, 67539, 67540, 67541, 67542, 67543, 67544, 67545, 67546, 67547, 67548, 67549, 67550, 67551, 67552, 67553, 67554, 67555, 67556, 67557, 67558, 67559, 67560, 67561, 67562, 67563, ...], 'Angela Messner': [30941, 30942, 30943, 30944, 30945, 30946, 30947, 30948, 30949, 30950, 30951, 30952, 30953, 30954, 30955, 30956, 30957, 30958, 30959, 30960, 30961, 30962, 30963, 30964, 30965, 30966, 30967, 30968, 30969, 30970, 30971, 30972, 30973, 30974, 30975, 30976, 30977, 30978, 30979, 30980, 30981, 30982, 30983, 30984, 30985, 30986, 30987, 30988, 30989, 30990, 30991, 30992, 30993, 30994, 30995, 30996, 30997, 30998, 30999, 31000, 31001, 31002, 31003, 31004, 31005, 31006, 31007, 31008, 31009, 31010, 31011, 31012, 31013, 31014, 31015, 31016, 31017, 31018, 31019, 31020, 31021, 31022, 31023, 31024, 31025, 31026, 31027, 31028, 31029, 31030, 31031, 31032, 31033, 31034, 31035, 31036, 31037, 31038, 31039, 31040, ...], 'Angelo Travis': [57258, 57259, 57260, 57261, 57262, 57263, 57264, 57265, 57266, 57267, 57268, 57269, 57270, 57271, 57272, 57273, 57274, 57275, 57276, 57277, 57278, 57279, 57280, 57281, 57282, 57283, 57284, 57285, 57286, 57287, 57288, 57289, 57290, 57291, 57292, 57293, 57294, 57295, 57296, 57297, 57298, 57299, 57300, 57301, 57302, 57303, 57304, 57305, 57306, 57307, 57308, 57309, 57310, 57311, 57312, 57313, 57314, 57315, 57316, 57317, 57318, 57319, 57320, 57321, 57322, 57323, 57324, 57325, 57326, 57327, 57328, 57329, 57330, 57331, 57332, 57333, 57334, 57335, 57336, 57337, 57338, 57339, 57340, 57341, 57342, 57343, 57344, 57345, 57346, 57347, 57348, 57349, 57350, 57351, 57352, 57353, 57354, 57355, 57356, 57357, ...], 'Annette Every': [94427, 94428, 94429, 94430, 94431, 94432, 94433, 94434, 94435, 94436, 94437, 94438, 94439, 94440, 94441, 94442, 94443, 94444, 94445, 94446, 94447, 94448, 94449, 94450, 94451, 94452, 94453, 94454, 94455, 94456, 94457, 94458, 94459, 94460, 94461, 94462, 94463, 94464, 94465, 94466, 94467, 94468, 94469, 94470, 94471, 94472, 94473, 94474, 94475, 94476, 94477, 94478, 94479, 94480, 94481, 94482, 94483, 94484, 94485, 94486, 94487, 94488, 94489, 94490, 94491, 94492, 94493, 94494, 94495, 94496, 94497, 94498, 94499, 94500, 94501, 94502, 94503, 94504, 94505, 94506, 94507, 94508, 94509, 94510, 94511, 94512, 94513, 94514, 94515, 94516, 94517, 94518, 94519, 94520, 94521, 94522, 94523, 94524, 94525, 94526, ...], 'Anthony Ennis': [24432, 24433, 24434, 24435, 24436, 24437, 24438, 24439, 24440, 24441, 24442, 24443, 24444, 24445, 24446, 24447, 24448, 24449, 24450, 24451, 24452, 24453, 24454, 24455, 24456, 24457, 24458, 24459, 24460, 24461, 24462, 24463, 24464, 24465, 24466, 24467, 24468, 24469, 24470, 24471, 24472, 24473, 24474, 24475, 24476, 24477, 24478, 24479, 24480, 24481, 24482, 24483, 24484, 24485, 24486, 24487, 24488, 24489, 24490, 24491, 24492, 24493, 24494, 24495, 24496, 24497, 24498, 24499, 24500, 24501, 24502, 24503, 24504, 24505, 24506, 24507, 24508, 24509, 24510, 24511, 24512, 24513, 24514, 24515, 24516, 24517, 24518, 24519, 24520, 24521, 24522, 24523, 24524, 24525, 24526, 24527, 24528, 24529, 24530, 24531, ...], 'Anthony Rosario': [34657, 34658, 34659, 34660, 34661, 34662, 34663, 34664, 34665, 34666, 34667, 34668, 34669, 34670, 34671, 34672, 34673, 34674, 34675, 34676, 34677, 34678, 34679, 34680, 34681, 34682, 34683, 34684, 34685, 34686, 34687, 34688, 34689, 34690, 34691, 34692, 34693, 34694, 34695, 34696, 34697, 34698, 34699, 34700, 34701, 34702, 34703, 34704, 34705, 34706, 34707, 34708, 34709, 34710, 34711, 34712, 34713, 34714, 34715, 34716, 34717, 34718, 34719, 34720, 34721, 34722, 34723, 34724, 34725, 34726, 34727, 34728, 34729, 34730, 34731, 34732, 34733, 34734, 34735, 34736, 34737, 34738, 34739, 34740, 34741, 34742, 34743, 34744, 34745, 34746, 34747, 34748, 34749, 34750, 34751, 34752, 34753, 34754, 34755, 34756, ...], 'Arlene Collier': [1785, 1786, 1787, 1788, 1789, 1790, 1791, 1792, 1793, 1794, 1795, 1796, 1797, 1798, 1799, 1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1883, 1884, ...], 'Arthur Fieck': [36740, 36741, 36742, 36743, 36744, 36745, 36746, 36747, 36748, 36749, 36750, 36751, 36752, 36753, 36754, 36755, 36756, 36757, 36758, 36759, 36760, 36761, 36762, 36763, 36764, 36765, 36766, 36767, 36768, 36769, 36770, 36771, 36772, 36773, 36774, 36775, 36776, 36777, 36778, 36779, 36780, 36781, 36782, 36783, 36784, 36785, 36786, 36787, 36788, 36789, 36790, 36791, 36792, 36793, 36794, 36795, 36796, 36797, 36798, 36799, 36800, 36801, 36802, 36803, 36804, 36805, 36806, 36807, 36808, 36809, 36810, 36811, 36812, 36813, 36814, 36815, 36816, 36817, 36818, 36819, 36820, 36821, 36822, 36823, 36824, 36825, 36826, 36827, 36828, 36829, 36830, 36831, 36832, 36833, 36834, 36835, 36836, 36837, 36838, 36839, ...], 'Arthur Koehler': [57190, 57191, 57192, 57193, 57194, 57195, 57196, 57197, 57198, 57199, 57200, 57201, 57202, 57203, 57204, 57205, 57206, 57207, 57208, 57209, 57210, 57211, 57212, 57213, 57214, 57215, 57216, 57217, 57218, 57219, 57220, 57221, 57222, 57223, 57224, 57225, 57226, 57227, 57228, 57229, 57230, 57231, 57232, 57233, 57234, 57235, 57236, 57237, 57238, 57239, 57240, 57241, 57242, 57243, 57244, 57245, 57246, 57247, 57248, 57249, 57250, 57251, 57252, 57253, 57254, 57255, 57256, 57257], 'Arthur Owens': [65716, 65717, 65718, 65719, 65720, 65721, 65722, 65723, 65724, 65725, 65726, 65727, 65728, 65729, 65730, 65731, 65732, 65733, 65734, 65735, 65736, 65737, 65738, 65739, 65740, 65741, 65742, 65743, 65744, 65745, 65746, 65747, 65748, 65749, 65750, 65751, 65752, 65753, 65754, 65755, 65756, 65757, 65758, 65759, 65760, 65761, 65762, 65763, 65764, 65765, 65766, 65767, 65768, 65769, 65770, 65771, 65772, 65773, 65774, 65775, 65776, 65777, 65778, 65779, 65780, 65781, 65782, 65783, 65784, 65785, 65786, 65787, 65788, 65789, 65790, 65791, 65792, 65793, 65794, 65795, 65796, 65797, 65798, 65799, 65800, 65801, 65802, 65803, 65804, 65805, 65806, 65807, 65808, 65809, 65810, 65811, 65812, 65813, 65814, 65815, ...], 'Barbara Eaton': [7045, 7046, 7047, 7048, 7049, 7050, 7051, 7052, 7053, 7054, 7055, 7056, 7057, 7058, 7059, 7060, 7061, 7062, 7063, 7064, 7065, 7066, 7067, 7068, 7069, 7070, 7071, 7072, 7073, 7074, 7075, 7076, 7077, 7078, 7079, 7080, 7081, 7082, 7083, 7084, 7085, 7086, 7087, 7088, 7089, 7090, 7091, 7092, 7093, 7094, 7095, 7096, 7097, 7098, 7099, 7100, 7101, 7102, 7103, 7104, 7105, 7106, 7107, 7108, 7109, 7110, 7111, 7112, 7113, 7114, 7115, 7116, 7117, 7118, 7119, 7120, 7121, 7122, 7123, 7124, 7125, 7126, 7127, 7128, 7129, 7130, 7131, 7132, 7133, 7134, 7135, 7136, 7137, 7138, 7139, 7140, 7141, 7142, 7143, 7144, ...], 'Barbara Glasco': [30783, 30784, 30785, 30786, 30787, 30788, 30789, 30790, 30791, 30792, 30793, 30794, 30795, 30796, 30797, 30798, 30799, 30800, 3080

- Chamando a função get_group, nós podemos retornar um subconjunto de dados

In [6]:
grouped.get_group('Aaron Hendrickson')

,Order Id,Company Id,Company Name,Date,Val,Sale,Sales Rep,Sales Rep Id
25612,3BJY12LWBN7D0GJL,CE4544HJOFMONMH2,Follow-Up Boundary,2014-09-04,1940,0,Aaron Hendrickson,AEMLQ09IYM72ACBL
25613,W3HHOSC1H6A1PW37,CE4544HJOFMONMH2,Follow-Up Boundary,2015-09-24,2109,0,Aaron Hendrickson,AEMLQ09IYM72ACBL
25614,G9JKIZO4WD945GBH,CE4544HJOFMONMH2,Follow-Up Boundary,2014-12-06,4300,1,Aaron Hendrickson,AEMLQ09IYM72ACBL
25615,BKIJVKZ7REVN6P8B,CE4544HJOFMONMH2,Follow-Up Boundary,2017-05-07,3026,0,Aaron Hendrickson,AEMLQ09IYM72ACBL
25616,WFHGWR4PAD04A2GJ,CE4544HJOFMONMH2,Follow-Up Boundary,2016-01-20,5033,0,Aaron Hendrickson,AEMLQ09IYM72ACBL
...,...,...,...,...,...,...,...,...
25899,NATK7K3TZUH32BBE,CGDGXAW6GNU6JIEG,Fiftieth Art'S,2015-01-27,6095,1,Aaron Hendrickson,AEMLQ09IYM72ACBL
25900,EGD6IRB0UML62XB0,CGDGXAW6GNU6JIEG,Fiftieth Art'S,2018-11-04,7652,1,Aaron Hendrickson,AEMLQ09IYM72ACBL
25901,9Z18A7D1T8EUH58D,CGDGXAW6GNU6JIEG,Fiftieth Art'S,2016-05-08,4746,0,Aaron Hendrickson,AEMLQ09IYM72ACBL
25902,R0LUW64V2F3O2HSD,CGDGXAW6GNU6JIEG,Fiftieth Art'S,2017-02-16,6158,0,Aaron Hendrickson,AEMLQ09IYM72ACBL
25903,UMHMBM5M179IHX6D,CGDGXAW6GNU6JIEG,Fiftieth Art'S,2017-07-28,2164,0,Aaron Hendrickson,AEMLQ09IYM72ACBL

- Chamando o método size, nós teremos o número de linhas de cada grupo

In [7]:
grouped.size()

Sales Rep
Aaron Hendrickson    292
Adam Sawyer          324
Adele Kimmel         115
Adrian Daugherty     369
Adrianna Shelton      37
                    ...
Willie Lin            44
Willie Rau            95
Willie Sanchez       309
Yvonne Jones          74
Yvonne Lindsey        67
Length: 499, dtype: int64

- Vamos verificar agora o número de pessoas levando em consideração apenas o primeiro nome

In [8]:
df.groupby(df['Sales Rep'].str.split(' ').str[0]).size()

Sales Rep
Aaron        292
Adam         324
Adele        115
Adrian       369
Adrianna      37
            ...
Wesley       144
Wilbert      213
William     1393
Willie       448
Yvonne       141
Length: 318, dtype: int64

- Podemos observar que existem vários registros "Williams". Vamos então agrupar todas as vendas feitas por alguem cujo o primeiro nome seja William

In [9]:
df.groupby(
    df['Sales Rep'].apply(lambda x: 'William' in x)
    ).size()

Sales Rep
False    97111
True      2889
dtype: int64

- No seguinte exemplo, nós vamos usar *pd.Grouper(key=[COLUMN], freq=[FREQUENCY])* para agrupar nossos dados baseados numa frequencia específica. No nosso caso, a frequência é o ano ('Y') e a coluna é o 'Date'.

In [10]:
df = df.astype({'Date':'datetime64[ns]'})

df.groupby(
  pd.Grouper(
    key='Date',
    freq='Y'
  )
).size()

Date
2014-12-31    19956
2015-12-31    20054
2016-12-31    20133
2017-12-31    20079
2018-12-31    19778
Freq: A-DEC, dtype: int64

- Além de 'Y', podemos usar frequências como dia ('D'), semana ('W'), mês ('M'), e quarter ('Q'). Mais frequencias podem ser conferidas na [documentação](http://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases)

In [11]:
df.groupby(
  pd.Grouper(
    key='Date',
    freq='Q'
  )
).size()

Date
2014-03-31    4949
2014-06-30    4948
2014-09-30    4986
2014-12-31    5073
2015-03-31    4958
2015-06-30    4968
2015-09-30    5109
2015-12-31    5019
2016-03-31    5064
2016-06-30    4892
2016-09-30    5148
2016-12-31    5029
2017-03-31    4959
2017-06-30    5102
2017-09-30    5077
2017-12-31    4941
2018-03-31    4889
2018-06-30    4939
2018-09-30    4975
2018-12-31    4975
Freq: Q-DEC, dtype: int64

- Podemos chegar no mesmo resultado utilizando o método resample. Mas para isso, é necessário torna a coluna datetime como index

In [12]:
df.set_index('Date',inplace=True)

In [13]:
df.resample("Q").size()

Date
2014-03-31    4949
2014-06-30    4948
2014-09-30    4986
2014-12-31    5073
2015-03-31    4958
2015-06-30    4968
2015-09-30    5109
2015-12-31    5019
2016-03-31    5064
2016-06-30    4892
2016-09-30    5148
2016-12-31    5029
2017-03-31    4959
2017-06-30    5102
2017-09-30    5077
2017-12-31    4941
2018-03-31    4889
2018-06-30    4939
2018-09-30    4975
2018-12-31    4975
Freq: Q-DEC, dtype: int64

- Os exemplos a seguir agrupam respectivamente a média e o acumulado de vendas por ano

In [14]:
df['Val'].resample("Y").mean()

Date
2014-12-31    5032.190519
2015-12-31    5072.536551
2016-12-31    5055.860627
2017-12-31    5077.831765
2018-12-31    5076.345535
Freq: A-DEC, Name: Val, dtype: float64

In [15]:
df['Val'].resample("Y").sum()

Date
2014-12-31    100422394
2015-12-31    101724648
2016-12-31    101789642
2017-12-31    101957784
2018-12-31    100399962
Freq: A-DEC, Name: Val, dtype: int64

- Vamos carregar um outro dataset

In [16]:
df = pd.DataFrame({'key1': ['a','a','b','b','a'],
                   'key2': ['one','two','one','two','one'],
                   'data1': np.random.randn(5),
                   'data2': np.random.randn(5)})

df

  key1 key2     data1     data2
0    a  one  1.113765  1.201429
1    a  two -0.632424 -0.449736
2    b  one  0.629210 -0.370542
3    b  two -0.699669  0.136154
4    a  one  1.149117  0.265016

- Suponha que quiséssemos calcular a média da coluna data1 usando os rótulos de key1

In [17]:
grouped = df['data1'].groupby(df['key1'])
grouped

- grouped é um objeto GroupBy
- A ideia é que esse objeto tenha todas as informações necessárias para então aplicar alguma operação em cada um dos grupos

- Para calcular as médias dos grupos, podemos chamar o método mean

In [18]:
grouped.mean()

key1
a    0.543486
b   -0.035229
Name: data1, dtype: float64

- Observe que os dados (uma Series) foram agregados de acordo com a chave de grupo, gerando uma nova Series, que agora está indexado pelos valores únicos da coluna key1

In [19]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means

key1  key2
a     one     1.131441
      two    -0.632424
b     one     0.629210
      two    -0.699669
Name: data1, dtype: float64

- Nesse caso, agrupamos os dados usando duas chaves, e a Series resultante agora tem um índice hierárquico constituído dos pares de chave únicos observados

In [20]:
means.unstack()

key2       one       two
key1
a     1.131441 -0.632424
b     0.629210 -0.699669

- É possível passar os nomes das colunas como as chaves de grupo

In [21]:
df.groupby('key1').mean()

         data1     data2
key1
a     0.543486  0.338903
b    -0.035229 -0.117194

In [22]:
df.groupby(['key1', 'key2']).mean()

              data1     data2
key1 key2
a    one   1.131441  0.733223
     two  -0.632424 -0.449736
b    one   0.629210 -0.370542
     two  -0.699669  0.136154

- Perceba que no primeiro caso, não há nenhuma coluna key2. Ela foi excluída do resultado.

- Outro método útil é size, que devolve uma Series contendo os tamanhos dos grupos

In [23]:
df.groupby(['key1','key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

### Iterando por grupos

- O objeto GroupBy aceita iteração, gerando uma sequência de tuplas de 2 contendo o nome do grupo, junto com a porção de dados

In [24]:
df

  key1 key2     data1     data2
0    a  one  1.113765  1.201429
1    a  two -0.632424 -0.449736
2    b  one  0.629210 -0.370542
3    b  two -0.699669  0.136154
4    a  one  1.149117  0.265016

In [25]:
for name, group in df.groupby('key1'):
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one  1.113765  1.201429
1    a  two -0.632424 -0.449736
4    a  one  1.149117  0.265016
b
  key1 key2     data1     data2
2    b  one  0.629210 -0.370542
3    b  two -0.699669  0.136154

In [26]:
for (k1,k2), group in df.groupby(['key1','key2']):
    print((k1,k2))
    print(group)

('a', 'one')
  key1 key2     data1     data2
0    a  one  1.113765  1.201429
4    a  one  1.149117  0.265016
('a', 'two')
  key1 key2     data1     data2
1    a  two -0.632424 -0.449736
('b', 'one')
  key1 key2    data1     data2
2    b  one  0.62921 -0.370542
('b', 'two')
  key1 key2     data1     data2
3    b  two -0.699669  0.136154

- Outra forma de iterar por um objeto GroupBy é utilizando sua função __iter__ e __next__

In [27]:
generator = df.groupby(['key1']).__iter__()

In [28]:
group_id, grouped_data = generator.__next__()
print(group_id) 
grouped_data

a

  key1 key2     data1     data2
0    a  one  1.113765  1.201429
1    a  two -0.632424 -0.449736
4    a  one  1.149117  0.265016

In [29]:
group_id, grouped_data = generator.__next__()
print(group_id) 
grouped_data

b

  key1 key2     data1     data2
2    b  one  0.629210 -0.370542
3    b  two -0.699669  0.136154

- Pode ser útil gerar um dicionário de porções de dados usando um só linha de código

In [30]:
pieces = dict(list(df.groupby('key1')))
pieces

{'a':   key1 key2     data1     data2
 0    a  one  1.113765  1.201429
 1    a  two -0.632424 -0.449736
 4    a  one  1.149117  0.265016,
 'b':   key1 key2     data1     data2
 2    b  one  0.629210 -0.370542
 3    b  two -0.699669  0.136154}

In [31]:
pieces['b']

  key1 key2     data1     data2
2    b  one  0.629210 -0.370542
3    b  two -0.699669  0.136154

### Selecionando uma coluna ou um subconjunto de colunas

- Retornando uma Series

In [32]:
df.groupby(['key1', 'key2'])['data1'].mean()

key1  key2
a     one     1.131441
      two    -0.632424
b     one     0.629210
      two    -0.699669
Name: data1, dtype: float64

- Retornando um DataFrame

In [33]:
df.groupby(['key1', 'key2'])[['data1']].mean()

              data1
key1 key2
a    one   1.131441
     two  -0.632424
b    one   0.629210
     two  -0.699669

### Agrupando com dicionários e Series

In [34]:
people = pd.DataFrame(np.random.randn(5,5),
                      columns=['a','b','c','d','e'], 
                      index=['Joe','Steve','Wes','Jim','Mike'])
people

              a         b         c         d         e
Joe    0.122528  1.843844 -0.320371 -1.443436 -0.287311
Steve  1.059765 -0.862856  0.937505 -0.044146 -0.785330
Wes    0.699457  1.239113  0.708434 -0.032737 -0.392959
Jim   -0.365546 -0.318528 -1.786501 -1.116975 -1.292874
Mike   0.018739  0.757862 -1.081231  0.725321  1.026412

In [35]:
people.iloc[2:3, [1,2]] = np.nan
people

              a         b         c         d         e
Joe    0.122528  1.843844 -0.320371 -1.443436 -0.287311
Steve  1.059765 -0.862856  0.937505 -0.044146 -0.785330
Wes    0.699457       NaN       NaN -0.032737 -0.392959
Jim   -0.365546 -0.318528 -1.786501 -1.116975 -1.292874
Mike   0.018739  0.757862 -1.081231  0.725321  1.026412

In [36]:
mapping = {'a': 'red', 'b':'red', 'c':'blue', 'd':'blue', 'e':'red', 'f':'orange'}

In [37]:
people.groupby(mapping,axis=1).sum()

           blue       red
Joe   -1.763807  1.679062
Steve  0.893359 -0.588421
Wes   -0.032737  0.306499
Jim   -2.903475 -1.976948
Mike  -0.355910  1.803014

- Note que construímos um array a partir de um dicionário que foi passado no groupby

- A mesma funcionalidade vale para Series, que pode ser vista como um mapeamento de tamanho fixo

In [38]:
map_series = pd.Series(mapping)
map_series

a       red
b       red
c      blue
d      blue
e       red
f    orange
dtype: object

In [39]:
people.groupby(map_series, axis=1).count()

       blue  red
Joe       2    3
Steve     2    3
Wes       1    2
Jim       2    3
Mike      2    3

### Agrupando com funções

- Suponha que quiséssemos agrupar pelo tamanho dos nomes das pessoas (índices do dataframe), basta usar a função len

In [40]:
people

              a         b         c         d         e
Joe    0.122528  1.843844 -0.320371 -1.443436 -0.287311
Steve  1.059765 -0.862856  0.937505 -0.044146 -0.785330
Wes    0.699457       NaN       NaN -0.032737 -0.392959
Jim   -0.365546 -0.318528 -1.786501 -1.116975 -1.292874
Mike   0.018739  0.757862 -1.081231  0.725321  1.026412

In [41]:
people.groupby(len).sum()

          a         b         c         d         e
3  0.456439  1.525316 -2.106871 -2.593148 -1.973143
4  0.018739  0.757862 -1.081231  0.725321  1.026412
5  1.059765 -0.862856  0.937505 -0.044146 -0.785330

### Agregação de dados

- Métodos otimizados de groupby

In [42]:
df

  key1 key2     data1     data2
0    a  one  1.113765  1.201429
1    a  two -0.632424 -0.449736
2    b  one  0.629210 -0.370542
3    b  two -0.699669  0.136154
4    a  one  1.149117  0.265016

In [43]:
df.groupby(['key1']).count()

      key2  data1  data2
key1
a        3      3      3
b        2      2      2

In [44]:
df.groupby(['key1']).sum()

         data1     data2
key1
a     1.630458  1.016709
b    -0.070458 -0.234388

In [45]:
df.groupby(['key1']).mean()

         data1     data2
key1
a     0.543486  0.338903
b    -0.035229 -0.117194

In [46]:
df.groupby(['key1']).median()

         data1     data2
key1
a     1.113765  0.265016
b    -0.035229 -0.117194

In [47]:
df.groupby(['key1']).std()

         data1     data2
key1
a     1.018521  0.828059
b     0.939659  0.358288

In [48]:
df.groupby(['key1']).min()

     key2     data1     data2
key1
a     one -0.632424 -0.449736
b     one -0.699669 -0.370542

In [49]:
df.groupby(['key1']).max()

     key2     data1     data2
key1
a     two  1.149117  1.201429
b     two  0.629210  0.136154

In [50]:
df.groupby(['key1']).prod()

         data1     data2
key1
a    -0.809406 -0.143195
b    -0.440239 -0.050451

In [51]:
df.groupby(['key1']).first()

     key2     data1     data2
key1
a     one  1.113765  1.201429
b     one  0.629210 -0.370542

In [52]:
df.groupby(['key1']).last()

     key2     data1     data2
key1
a     one  1.149117  0.265016
b     two -0.699669  0.136154

- É possível também definir as agregações a serem feitas. Por exemplo, é possível quantis de amostragem em uma Séries ou em colunas de DataFrame.

In [53]:
grouped = df.groupby('key1')
grouped['data1'].quantile(0.9)

key1
a    1.142047
b    0.496322
Name: data1, dtype: float64

- Para usar suas próprias funções de agregação, passe qualquer função que agregue um array para o método aggregate ou agg

In [54]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [55]:
grouped.agg(peak_to_peak)

         data1     data2
key1
a     1.781541  1.651165
b     1.328879  0.506696

### Aplicação de função nas colunas e aplicação de várias funções

- Vamos voltar a usar os dados do IBGE

In [56]:
dados = pd.read_csv("datasets/dados.csv")
dados

       UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0      11     0     23    8              12    800  1.603808
1      11     1     23    2              12   1150  1.739790
2      11     1     35    8              15    880  1.760444
3      11     0     46    2               6   3500  1.783158
4      11     1     47    8               9    150  1.690631
...    ..   ...    ...  ...             ...    ...       ...
76835  53     1     46    2              11    812  1.687030
76836  53     0     30    4               7   1500  1.792934
76837  53     0     32    8              12   1300  1.830587
76838  53     0     57    8               4   1500  1.726344
76839  53     0     38    8               4    900  1.658305

[76840 rows x 7 columns]

- Acrescentar legenda para as colunas Sexo e Cor

In [57]:
def get_cor(x):
    cor = {0:"Indígena", 2:"Branca", 4:"Preta", 6:"Amarela", 8:"Parda", 9:"Sem declaração"}
    return cor[x]

In [58]:
dados['Gênero'] = dados['Sexo'].apply(lambda x: "Feminino" if x else "Masculino")
dados['Cor2'] = dados['Cor'].apply(get_cor)

In [59]:
dados

,UF,Sexo,Idade,Cor,Anos de Estudo,Renda,Altura,Gênero,Cor2
0,11,0,23,8,12,800,1.603808,Masculino,Parda
1,11,1,23,2,12,1150,1.739790,Feminino,Branca
2,11,1,35,8,15,880,1.760444,Feminino,Parda
3,11,0,46,2,6,3500,1.783158,Masculino,Branca
4,11,1,47,8,9,150,1.690631,Feminino,Parda
...,...,...,...,...,...,...,...,...,...
76835,53,1,46,2,11,812,1.687030,Feminino,Branca
76836,53,0,30,4,7,1500,1.792934,Masculino,Preta
76837,53,0,32,8,12,1300,1.830587,Masculino,Parda
76838,53,0,57,8,4,1500,1.726344,Masculino,Parda
76839,53,0,38,8,4,900,1.658305,Masculino,Parda

- Agrupando pelas colunas que acabamos de acrescentar

In [60]:
grouped = dados.groupby(['Gênero','Cor2'])

- Retornando quantos grupos foram gerados

In [61]:
grouped.ngroups

10

- Observe que, para estatísticas descritivas, podemos passar o nome da função como uma string

In [62]:
grouped_renda = grouped['Renda']
grouped_renda.agg('mean')

Gênero     Cor2
Feminino   Amarela     3027.341880
           Branca      2109.866750
           Indígena    2464.386139
           Parda       1176.758516
           Preta       1134.596400
Masculino  Amarela     4758.251064
           Branca      2925.744435
           Indígena    1081.710938
           Parda       1659.577425
           Preta       1603.861687
Name: Renda, dtype: float64

- Podemos passar uma lista de funções também

In [63]:
grouped_renda.agg(['mean','std',peak_to_peak])

                           mean           std  peak_to_peak
Gênero    Cor2
Feminino  Amarela   3027.341880   3731.173660         20000
          Branca    2109.866750   3251.013154        100000
          Indígena  2464.386139  11957.498292        120000
          Parda     1176.758516   1596.233048         30000
          Preta     1134.596400   1349.799809         23000
Masculino Amarela   4758.251064   5740.824820         50000
          Branca    2925.744435   4750.791872        200000
          Indígena  1081.710938   1204.093490         10000
          Parda     1659.577425   2312.087184        100000
          Preta     1603.861687   1936.309271         50000

- É possível alterar o nome das funções que são exibidas no DataFrame

In [64]:
grouped_renda.agg([('Média','mean'),('Desvio Padrão',np.std)])

                          Média  Desvio Padrão
Gênero    Cor2
Feminino  Amarela   3027.341880    3731.173660
          Branca    2109.866750    3251.013154
          Indígena  2464.386139   11957.498292
          Parda     1176.758516    1596.233048
          Preta     1134.596400    1349.799809
Masculino Amarela   4758.251064    5740.824820
          Branca    2925.744435    4750.791872
          Indígena  1081.710938    1204.093490
          Parda     1659.577425    2312.087184
          Preta     1603.861687    1936.309271

- Ordenar por uma coluna

In [65]:
grouped_renda.agg([('Média','mean'),('Desvio Padrão',np.std)]).sort_values(by="Média")

                          Média  Desvio Padrão
Gênero    Cor2
Masculino Indígena  1081.710938    1204.093490
Feminino  Preta     1134.596400    1349.799809
          Parda     1176.758516    1596.233048
Masculino Preta     1603.861687    1936.309271
          Parda     1659.577425    2312.087184
Feminino  Branca    2109.866750    3251.013154
          Indígena  2464.386139   11957.498292
Masculino Branca    2925.744435    4750.791872
Feminino  Amarela   3027.341880    3731.173660
Masculino Amarela   4758.251064    5740.824820

- Filtrando pelos n maiores e menores valores de cada grupo

In [66]:
dados.groupby(['Gênero'])["Renda"].nlargest(2)

Gênero
Feminino   43694    120000
           40934    100000
Masculino  28110    200000
           43693    200000
Name: Renda, dtype: int64

In [67]:
dados.groupby(['Gênero'])["Renda"].nsmallest(2)

Gênero
Feminino   287    0
           618    0
Masculino  42     0
           68     0
Name: Renda, dtype: int64

- Retornando o n-ésimo valor do dataset

In [68]:
dados.groupby(['Gênero']).nth(2) #Retornando o terceiro valor de cada grupo

           UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura   Cor2
Gênero
Feminino   11     1     47    8               9    150  1.690631  Parda
Masculino  11     0     57    8              12   3150  1.570078  Parda

- Podemos especificar uma lista de funções a serem aplicadas em todas as colunas

In [69]:
functions = ['count', 'mean', 'max']

In [70]:
result = grouped['Renda', 'Anos de Estudo'].agg(functions)
result

<ipython-input-70-ba3d09886ef5>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  result = grouped['Renda', 'Anos de Estudo'].agg(functions)

                    Renda                      Anos de Estudo
                    count         mean     max          count       mean max
Gênero    Cor2
Feminino  Amarela     117  3027.341880   20000            117  12.495726  16
          Branca     9621  2109.866750  100000           9621  11.297578  17
          Indígena    101  2464.386139  120000            101   9.108911  17
          Parda     10862  1176.758516   30000          10862   9.520714  17
          Preta      2889  1134.596400   23000           2889   9.522326  17
Masculino Amarela     235  4758.251064   50000            235  12.587234  16
          Branca    22194  2925.744435  200000          22194  10.140353  17
          Indígena    256  1081.710938   10000            256   7.875000  17
          Parda     25063  1659.577425  100000          25063   8.329929  17
          Preta      5502  1603.861687   50000           5502   8.514540  17

In [71]:
result['Renda']

                    count         mean     max
Gênero    Cor2
Feminino  Amarela     117  3027.341880   20000
          Branca     9621  2109.866750  100000
          Indígena    101  2464.386139  120000
          Parda     10862  1176.758516   30000
          Preta      2889  1134.596400   23000
Masculino Amarela     235  4758.251064   50000
          Branca    22194  2925.744435  200000
          Indígena    256  1081.710938   10000
          Parda     25063  1659.577425  100000
          Preta      5502  1603.861687   50000

- Passando uma lista de tuplas personalizando o nome das funções

In [72]:
ftuples = [('Média', 'mean'),('Desvio Padrão', 'mad')]

In [73]:
grouped['Renda', 'Anos de Estudo'].agg(ftuples)

<ipython-input-73-7dd97c9a50c6>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped['Renda', 'Anos de Estudo'].agg(ftuples)

                          Renda               Anos de Estudo
                          Média Desvio Padrão          Média Desvio Padrão
Gênero    Cor2
Feminino  Amarela   3027.341880   2549.146322      12.495726      3.243626
          Branca    2109.866750   1670.967106      11.297578      3.427083
          Indígena  2464.386139   3007.892952       9.108911      3.971375
          Parda     1176.758516    811.580946       9.520714      3.750231
          Preta     1134.596400    705.453357       9.522326      3.658669
Masculino Amarela   4758.251064   3709.597211      12.587234      3.166971
          Branca    2925.744435   2261.012346      10.140353      3.790107
          Indígena  1081.710938    798.910889       7.875000      3.792969
          Parda     1659.577425   1125.827704       8.329929      3.851627
          Preta     1603.861687    975.602482       8.514540      3.807608

### Devolvendo dados agregados sem índices de linha

- Podemos desativar o comportamento dos dados agregados serem retornados como índices passando as_index=False para groupby

In [74]:
dados.groupby(['Gênero', 'Renda'], as_index=False).mean()

,Gênero,Renda,UF,Sexo,Idade,Cor,Anos de Estudo,Altura
0,Feminino,0,28.293153,1.0,55.505304,5.749277,5.288332,1.699083
1,Feminino,8,22.000000,1.0,49.000000,4.000000,2.000000,1.650630
2,Feminino,10,22.800000,1.0,62.000000,8.000000,4.600000,1.701249
3,Feminino,12,25.000000,1.0,55.000000,4.000000,1.000000,1.849825
4,Feminino,13,28.000000,1.0,55.000000,2.000000,1.000000,1.818524
...,...,...,...,...,...,...,...,...
2232,Masculino,60000,29.000000,0.0,56.750000,3.500000,14.500000,1.680315
2233,Masculino,80000,35.750000,0.0,57.750000,2.000000,13.000000,1.724978
2234,Masculino,90000,33.000000,0.0,58.000000,8.000000,16.000000,1.717068
2235,Masculino,100000,36.500000,0.0,62.750000,3.500000,16.000000,1.680492
2236,Masculino,200000,34.333333,0.0,57.333333,2.000000,14.666667,1.616582

### Filtrando dados

- O método *filter*, como o nome sugere, não muda o dado, mas seleciona um subconjunto de dados. Para usuários vindo do SQL, pensem em *filter* como um condição HAVING.

- No exemplo a seguir vamos filtrar pelo grupo de UFs cujo a renda média é maior que 2000

In [75]:
dados.groupby('UF').filter(lambda x: x['Renda'].mean() > 2000)

,UF,Sexo,Idade,Cor,Anos de Estudo,Renda,Altura,Gênero,Cor2
31818,31,0,40,2,12,1600,1.615956,Masculino,Branca
31819,31,0,58,8,5,850,1.575406,Masculino,Parda
31820,31,0,36,8,3,1400,1.748594,Masculino,Parda
31821,31,0,21,8,11,1500,1.658259,Masculino,Parda
31822,31,0,28,2,9,1600,1.624518,Masculino,Branca
...,...,...,...,...,...,...,...,...,...
76835,53,1,46,2,11,812,1.687030,Feminino,Branca
76836,53,0,30,4,7,1500,1.792934,Masculino,Preta
76837,53,0,32,8,12,1300,1.830587,Masculino,Parda
76838,53,0,57,8,4,1500,1.726344,Masculino,Parda
76839,53,0,38,8,4,900,1.658305,Masculino,Parda